<h1>All Reviews:</h1>

@Html.ActionLink($"{review.Destination}", "Details", "Reviews", new { id = review.ReviewId })
<br>
<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>ID: @review.ReviewId</li>
    <li>Destination: @review.Destination</li>
    <li>Description: @review.Description</li>
    <li>Country: @review.Country</li>
    <li>Rating: @review.Rating</li>
  </ul>
  
  <br>
}
</ol>