<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
  <ul>
    <li>ID: @review.ReviewId</li>
    <li>Destination: @review.Destination</li>
    <li>Description: @review.Description</li>
    <li>Country: @review.Country</li>
    <li>Rating: @review.Rating</li>
  </ul>
  <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
  <br>
}
</ol>